<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/pokestyle.css">
<title>Pokenatra!</title>
</head>

<body>
<header><a href='/'>Pokenatra</a></header>
<a href="/trainers">VIEW TRAINERS</a>
<a href="/pokemons">VIEW POKEMON</a>

<a href="/pokemons/new">CREATE NEW POKEMON</a>
<a href="/trainers/new">CREATE NEW TRAINERS</a>
<%= yield %>


</body>
</html>
