<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link>Pokenatra!</title>
</head>
<body>
<header><a href='/'>Pokenatra</a></header>
<a href="/pokemons/new">CREATE NEW POKEMON</a>
<%= yield %>


</body>
</html>
