<h2>New Trainer</h2>

<form action="/trainers" method="post">
  <label>Name</label>
  <input type="text" name="trainer[name]">
  <label>Level</label>
  <input type="text" name="trainer[level]">
  <label>Image URL</label>
  <input type="text" name="trainer[img_url]">
  <!-- <label>Pokemon</label>
  <input type="text" name="trainer[pokemon_id]"> -->
    <input type="submit" value="CREATE">
</form>
