<h2>Trainer Name: <%= @trainer.name %> </h2>
<h2> Level: <%= @trainer.level %> </h2>
<h2> Photo: <img src= "<%= @trainer.img_url %>"> </h2>
<h3><a href="/trainers/<%= @trainer.id %>/edit">Edit This Trainer</a></h3>
